@{
    ViewBag.Title = "İletişim";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Yakutiye Erzurum<br />
        Şükrüpaşa <br />
        <abbr title="Phone">P:</abbr>
        531 494 55 38
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>