
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcı Bilgileri</h2>
<p><strong>Ad:</strong> Abdullah </p>
<p><strong>Soyad:</strong> Haktan </p>
<p><strong>Doğum Yeri:</strong> Erzurum </p>
<p><strong>Meslek:</strong> Bilgisayar Mühendisi | Backend developer</p>